.App {
  text-align: center;
}

.home {
  background: linear-gradient(rgba(44,83,158,0.5),rgba(44,83,158,0.5)), url('./assets/food-drawing.jpg');
  background-size: 400px;
  min-height: 100vh;
}

.App-header {
  height: .7em;
  border-bottom: 1px solid black;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 20px;
  background: rgb(61, 75, 118);
  color: #FFFFFF;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu-header {
  height: 1em;
  background: linear-gradient(rgba(44,83,158,0.5),rgba(44,83,158,0.5)), url('./assets/food-drawing.jpg');
  background-size: 400px;
}

.menu-container {
  background: linear-gradient(rgba(44,83,158,0.5),rgba(44,83,158,0.5)), url('./assets/food-drawing.jpg');
  background-size: 400px;
  min-height: 100vh;
}

.menu-info {
  padding: 1em;
  background: rgb(61, 75, 118);
  color: #FFFFFF;
  margin: 0 6em 0 6em;
}

.menu-section {
  border: 1px solid black;
  margin: 0 1em .5em 1em;
  background: rgb(235, 237, 239);
}

.item {
  border-bottom: 1px dotted black;
}

.footer {
  background: rgb(61, 75, 118);
  height: 3em;
}


/** home page flex container (input, spinner, and allergen filter) **/

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.search-container {
  flex: auto;
  margin: 8em 6em 5em 6em;
  text-align: center;
}


input.search {
  width: 25em;
  height: 2em;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 1em;
}

.spinner {
  justify-self: center;
  align-self: center;
  padding-bottom: 2em;
  margin: 8em 0 1em 0;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
             0px 8px 10px rgba(0,0,0,0.5),
             0px 10px 14px rgba(0,0,0,0.1);
}

.loading-text {
  padding: 1em;
}

.no-results {
  margin-top: 2.5em;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
             0px 8px 10px rgba(0,0,0,0.5),
             0px 10px 14px rgba(0,0,0,0.1);
}

/** allergen filters **/

.filter-container {
  flex: auto;
  padding: .1em;
  color: #fff;
  margin: 3em 6em 3em 6em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
             0px 8px 10px rgba(0,0,0,0.5),
             0px 10px 14px rgba(0,0,0,0.1);
  font-size: 1.2em;
}

.allergen-img {
  height: 40px;
  width: 40px;
  margin: .5em .2em 1em .2em;
  padding: .5em;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
}

input[type="checkbox"], .checked {
  display: none;
}

input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.frequency{
  width: 2em;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 .2em 0 .2em;
  font-size: 1em;
  text-align: center;
}

.allergen-text {
  height: 51px;
}

/** restaurants flex **/


.results-notice {
  border: 1px solid black;
  padding: 1em;
  background: rgb(61, 75, 118);
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5);
  margin: 0;
}

.rest-tile {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: #ffffff;
  width: 47%;
  line-height: 60%;
}

.rest-tile:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(84, 153, 238, 0.6) inset;
}

.rest-icon {
  flex: 0 1 auto;
  width: 5em;
  padding: 1em; 
  filter: grayscale(10%); 
}

.rest-text {
  flex: 3 3 auto;
}

.food-types {
  line-height: 100%;
  font-style: italic;
}

.menu-allergens {
  text-align: left;
  padding: 0 20% 0 25%;
}

.allergen-item {
  margin: .8em;
}


/** media queries **/

@media (max-width: 1000px){
  .search-container {
    flex: auto;
    margin: 8em 3em 6em 3em;
  }

  input.search {
    width: 20em;
    height: 2em;
  }

  .filter-container {  
    margin: 2em 4.5em 4em 5em;
  }
}

@media (max-width: 959px){
  .search-container {
    flex: auto;   
    margin: 4em 3em 1em 3em;  
  }

  .filter-container {  
    margin: 1em 4.5em 4em 5em;
  }
}

@media (max-width: 566px){
  .search-container {
    flex: auto;
    margin: 4em 2.5em 1em 2.5em;  
  }

  input.search {
    width: 15em;
  }

  .filter-container {  
    margin: 1em 4.5em 3em 5em;
  }

  .allergen-img {
    height: 35px;
    width: 35px;
    margin: .5em .1em 1em .1em;
  }

  .rest-tile {
   line-height: 100%;
  }

  .menu-info {
    margin: 0 1em 0 1em;
  }
}
