.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input.search {
  width: 20%;
  margin: 1%;
}

.menu-section {
  border: 1px solid black;
  margin: 3%;
  background: rgb(235, 237, 239);
}

.item {
  border-bottom: 1px dashed black;
}

.spinner {
  margin: 100px;
}

/** allergen filters **/

.allergen-img {
  height: 4.5%;
  width: 4.5%;
  margin: .5%;
  padding: 1%;
  border: 2px solid black;
}

input[type="checkbox"], .checked {
  display: none;
}

input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

/** restaurants grid **/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 3em;
}

.rest-tile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: .5em;
  padding: 1em;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.rest-icon {
  grid-column-start: 1;
  grid-column-end: 2; 
  width: 7em;
  padding: 1em;  
}

.rest-text {
  grid-column-start: 2;
  grid-column-end: 5; 
}



