.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.rest-tile {
  border: 1px solid black;
  width: 33%;
  margin: 20px;
}

input.search {
  width: 20%;
}

.menu-section {
  border: 1px solid black;
  margin: 3%;
  background: rgb(235, 237, 239);
}

.item {
  border-bottom: 1px dashed black;
}

.spinner {
  margin: 100px;
}
